<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>After School Tutoring</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/vue"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    </head>
<body>
    <div id="container">
        <!--Navigation bar-->
        <div id="nav" v-if='showProducts'>
            <nav>
                <span>After School Lesson Booking</span>
                <!--Content in navigation bar-->
                <ul>
                    <li>
                        <button @click='showCheckout()' style="width: 200px;" v-if="isCart">
                            {{itemCount}}
                            <span class="fas fa-cart-plus"></span> Checkout
                        </button>

                        <button hidden v-else></button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div>
        <div>
            <div id="lessons">
                <p class="header">Lessons</p>
                <div v-for="(lesson, index) in lessons" id="lessonss">
                    <img v-bind:src="lesson.image" class="pic">
                    <span class="lessonT">{{ lesson.title }}</span>
                    <span class="location">Location: {{ lesson.location }}</span>
                    <span class="price">Price: £{{lesson.price}}</span>
                    <span class="spaces">Availability:
                        <span v-text="lesson.spaces"></span>
                    </span>
                    <div id="b_holder" @click="add(lesson)">
                        <span v-if="lesson.spaces &gt; zeroo()"> <button>Add to cart</button> </span>
                        <span v-else><button hidden></button></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>